<div class="col-12">
  <p-card>
    <div class="grid">
      <div *ngIf="isLoading">Loading...</div>
      <div *ngIf="!isLoading" class="grid">
        <div class="col-12 sm:col-12 lg:col-6">
          <input type="text" pInputText style="margin-right: 10px" [(ngModel)]="selectUserId" (keyup.enter)="selectUser(selectUserId)"/>
          <p-button label="Suchen" (click)="selectUser(selectUserId)"></p-button>
        </div>
        <div *ngIf="selectedUser" class="col-12 sm:col-12 lg:col-6">
          {{selectedUser.name}} is angemeldet für {{selectedUser.gemeldet}} km.
        </div>
        <div style="position: relative; width: 100%;">
          <p-progressbar
            [value]="progress"
            [showValue]="false"
            class="progressBarStyle"></p-progressbar>
          <div
            style="position: absolute; top: 0; left: 50%; transform: translateX(-50%); line-height: 20px;">
            {{ progress }}%
          </div>
        </div>

      <div class="grid" style="width: 100%; margin-top: 15px">
        <div class="col-6 sm:col-6 lg:col-6">
          Bisher geschafft
        </div>
        <div class="col-6 sm:col-6 lg:col-6">
          {{selectedUser?.bereitsZurueckgelegt}} km
        </div>
        <div class="col-6 sm:col-6 lg:col-6">
          Tagesdurchschnitt
        </div>
        <div class="col-6 sm:col-6 lg:col-6">
          {{selectedUser?.tagesdurchschnitt}} km
        </div>
        <div class="col-6 sm:col-6 lg:col-6">
          In diesem Jahr zurückgelegt
        </div>
        <div class="col-6 sm:col-6 lg:col-6">
          {{selectedUser?.jahr}} km
        </div>
        </div>
      </div>
    </div>
  </p-card>
  <div *ngIf="isLoadingAll">
    <p-progressbar mode="indeterminate" class="progressBarStyle" [style]="{ height: '6px' }" />
  </div>
  <div *ngIf="!isLoadingAll" class="grid">
    <p-card *ngFor="let friend of friends" class="friendCard">
      <div class="grid" style="width: 100%; float: right">
        <div class="col-10"></div>
        <div class="col-2">
          <p-button icon="pi pi-times" severity="danger" [rounded]="true" size="small" (click)="removeFriend(friend.name!)"></p-button>
        </div>
        <div class="col-12">
          <um-friend [friend]="friend"></um-friend>
        </div>
      </div>


    </p-card>
    <div class="col-12 sm:col-12 lg:col-6" style="margin-top: 15px">
      <input type="text" style="margin-right: 10px" pInputText [(ngModel)]="friendId" (keyup.enter)="addFriend(friendId)"/>
      <p-button label="Add" (click)="addFriend(friendId)"></p-button>
    </div>
  </div>

</div>
