<div class="grid" style="width: 100%">
  <div style="position: relative; width: 100%;">
    <p-progressbar
      [value]="progress"
      [showValue]="false"
      class="progressBarStyle"></p-progressbar>
    <div
      style="position: absolute; top: 0; left: 50%; transform: translateX(-50%); line-height: 20px;">
      {{ progress }}%
    </div>
  </div>
  <div class="col-12">{{friend?.bereitsZurueckgelegt?.toFixed(2)}} km / {{friend?.gemeldet}} km (Ø: {{friend?.tagesdurchschnitt! + friend?.tagesdurchschnittRad!}} km/d)</div>
  <div class="col-12 sm:col-6 lg:col-3">
    Übrige Tage: {{utils.calculateToGoPerDay()}} Tage (Ø: {{utils.calculateMeanToGo(friend!)}} km/d)
  </div>
</div>
