/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  width: 100%; /* Wichtig für Vollbildbreite */
  height: 100%; /* Wichtig für Vollbildhöhe */
  box-sizing: border-box; /* Sichere Größenberechnung */
}
